<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="su.whs.activitymonitor"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission xmlns:tools="http://schemas.android.com/tools"
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

</manifest>
